$main-font-family: "Montserrat", sans-serif;
$heading-font-family: "Playfair Display", serif;
$color-background: #f9f9f9;
$color-beige: #e4cf84;
$color-gold: #d5a848;
$text-color: #292929;
$Accent-Color: #ff9505;
$footer-font-color: #ffffff;

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
