@import './design';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-font-family;
  background-color: $color-background;
  height: 100vh;
  color: $text-color;
  line-height: 1.5;
}
main {
  max-width: 90%;
  margin: 1rem auto;
  
}
.hero {
  margin: 0.5rem auto;
}
h1 {
  color: $color-gold;
  font-size: 2rem;
  font-weight: bold;
  text-align: center; 
}
p {
  font-size: 1.2rem;
  color: $text-color;
  padding: 1rem;
} 
img{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
figcaption {
  color: $color-gold;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.landing-page > a {
  color: $color-gold;
  margin: 2rem 4rem;

    &:visited{
      color: $text-color;
    }
    &:hover, a:focus {
      background-color: $color-gold;
      color: $text-color;
      cursor: pointer;
    }
    &:active {
      color: $color-beige;
    }
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
 
}
