@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap");

:root {
  --color-1: rgb(239, 238, 238);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  background-color: var(--color-1);
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 20px;
  margin: auto;
}

.header .logo a {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: rgb(230, 125, 45);
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

/* Navigation link styles */
.header .nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

/* Navigation link hover and active styles */
.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: black;
}

/* Checkbox input for mobile navigation */
.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Mobile navigation toggler styles*/
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #a27f7f;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
}
.nav-toggler span::before {
  top: -6px;
}
.nav-toggler span::after {
  top: 6px;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(210, 23, 23, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }

  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }

  .header #nav-check:checked ~ .nav-toggler span::before,
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }

  .header #nav-check:checked ~ .nav-toggler span::after {
    transform: rotate(-45deg);
  }
}
