<<<<<<< HEAD:Services/_navbar.scss

:root {
  --color-1: rgb(239, 238, 238);
}

=======
>>>>>>> d23f829a233f677ac0a5b9034bbb83b2b794d1ca:Code/_navbar.scss
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  background-color: $color-background;
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 15px;
  margin: auto;
}
.header h3 {
  font: normal 2rem "Cookie", cursive;

<<<<<<< HEAD:Services/_navbar.scss
  color:$Accent-Color;
=======
  color: $Accent-Color;
>>>>>>> d23f829a233f677ac0a5b9034bbb83b2b794d1ca:Code/_navbar.scss
}
.header .logo,
h3 span {
  color: $Accent-Color;
  font: normal 2rem "Cookie", cursive;
}

.header .logo a {
  font: normal 36px "Cookie", cursive;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: $Accent-Color;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: black;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
<<<<<<< HEAD:Services/_navbar.scss

/* Mobile navigation toggler styles*/
=======
>>>>>>> d23f829a233f677ac0a5b9034bbb83b2b794d1ca:Code/_navbar.scss
.nav-toggler {
  position: relative;
  height: 34px;
  width: 44px;
  background-color: #a27f7f;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the lines horizontally */
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 60%; /* Adjust the width of the lines as needed */
  background-color: $color-background;
  position: absolute;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: inherit;
  background-color: $color-background;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  bottom: -6px;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ba9494;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  background-color: $color-background;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  background-color: $color-background;
  position: relative;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: $color-background;
    border-top: 1px solid rgba(210, 23, 23, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }

  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }

  .header #nav-check:checked ~ .nav-toggler span::before,
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }

  .header #nav-check:checked ~ .nav-toggler span::after {
    transform: rotate(-45deg);
  }
}
