@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

:root {
  --color-1: rgb(239, 238, 238);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  background-color: #fffdf6;
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 15px;
  margin: auto;
}

.header h3 {
  font: normal 2rem "Cookie", cursive;
  color: #ff9505;
}

.header .logo,
h3 span {
  color: #ff9505;
  font: normal 2rem "Cookie", cursive;
}

.header .logo a {
  font: normal 36px "Cookie", cursive;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #ff9505;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: black;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Mobile navigation toggler styles*/
.nav-toggler {
  position: relative;
  height: 34px;
  width: 44px;
  background-color: #a27f7f;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the lines horizontally */
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 60%; /* Adjust the width of the lines as needed */
  background-color: #fffdf6;
  position: absolute;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: inherit;
  background-color: #fffdf6;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  bottom: -6px;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ba9494;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  background-color: #fffdf6;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fffdf6;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  background-color: #fffdf6;
  position: relative;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }
  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fffdf6;
    border-top: 1px solid rgba(210, 23, 23, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header .nav ul li {
    display: block;
    margin: 0;
    text-align: center;
  }
  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  .header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }
  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before,
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .header #nav-check:checked ~ .nav-toggler span::after {
    transform: rotate(-45deg);
  }
}
footer {
  bottom: 0;
  width: 100%;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-container {
  background-color: #2d2a30;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 50px 50px;
  margin-top: 80px;
  margin-bottom: auto;
  line-height: 42px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-container .footer-left {
  width: 30%;
}

.footer-container h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-container h3 span {
  color: #ff9505;
  font: normal 36px "Cookie", cursive;
}

/* Footer links */
.footer-container .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-container .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-container .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
}

/* Footer Center */
.footer-container .footer-center {
  width: 35%;
}

.footer-container .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 15px 15px;
  vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-container .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-container .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-container .footer-center p a {
  color: #ff9505;
  text-decoration: none;
}

/* Footer Right */
.footer-container .footer-right {
  width: 30%;
}

.footer-container .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container .footer-icons {
  margin-top: 25px;
}

.footer-container .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-container .footer-icons a:hover {
  background-color: #717b93;
}

.footer-links a:hover {
  color: #717b93;
}

@media (max-width: 880px) {
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right {
    display: block;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
  }
  .footer-container .footer-center i,
  .footer-container .footer-icons a {
    margin: 0 auto; /* Centering the icons horizontally */
    display: block;
  }
  /*the change I made set the icons horizontally*/
  .footer-container .footer-right a,
  .footer-container .footer-right i {
    display: inline;
    margin-right: 10px;
  }
}
.footer-container .footer-center p {
  text-align: center; /* Centering the text */
}

@media (min-width: 1920px) {
  .footer-container .footer-left {
    margin-bottom: auto;
    margin: 2rem;
  }
}
.footer-container .footer-center p {
  text-align: center;
} 
/* Reset and Common styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "minion-pro", Georgia, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #ffffff;
  color: #666666;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

/* Media query for iPhone 12 pro (400px wide) and smaller screens */
@media (max-width: 750px) {
  .intro {
    padding-bottom: 1.75rem;
    line-height: 1.4;
    text-align: center;
    color: #717171;
    background: #f6f6f6;
  }
  h2 {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  ul {
    text-align: center;
    text-decoration: none;
  }
  ul li {
    display: block;
    margin-bottom: 10px;
  }
}
/*service page */
:root {
  --Main-Font: "Montserrat", sans-serif;
  --Heading-Font: "Playfair Display", serif;
  --Accent-Color: #ff9505;
}

body {
  line-height: 1.6;
  font-family: var(--Main-Font);
  background-color: #f5f5f5;
  color: #333;
}

.menu {
  margin: 2rem 0;
}

.menu-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.menu-head {
  text-align: center;
}

.menu-head h2 {
  font-family: var(--Heading-Font);
  font-size: 2.8rem;
  color: var(--Accent-Color);
  margin-bottom: 0.5rem;
}

.menu-head p {
  font-weight: 400;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto 2rem;
}

.menu-btns {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.menu-btn {
  font-family: var(--Main-Font);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  background: none;
  border: none;
  color: var(--Accent-Color);
  cursor: pointer;
  margin: 0 2rem;
  transition: color 0.3s ease;
}

.menu-btn:hover {
  color: rgb(211, 132, 48);
}

.food-items {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-item {
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  color: var(--Accent-Color);
  margin: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.food-item:hover {
  transform: translateY(-5px);
}

.food-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.food-content {
  padding: 1.5rem;
  text-align: center;
}

.food-name {
  font-family: var(--Heading-Font);
  color: var(--Accent-Color);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.line {
  width: 60px;
  height: 3px;
  background: var(--Accent-Color);
  margin: 0 auto 1rem;
}

.food-price {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--Accent-Color);
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 1rem;
}

.rating .fa-star {
  margin-right: 0.4rem;
  color: var(--Accent-Color);
}

.category {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--Accent-Color);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 992px) {
  .menu-head p {
    width: 50%;
  }
  .food-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .menu-btn {
    justify-content: center;
    text-align: center;
    margin: 0 0.5rem;
  }
}
/*footer*/
footer {
  bottom: 0;
  width: 100%;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-container {
  background-color: #2d2a30;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 50px 50px;
  margin-top: 80px;
  margin-bottom: auto;
  line-height: 42px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-container .footer-left {
  width: 30%;
}

.footer-container h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-container h3 span {
  color: #e0ac1c;
}

/* Footer links */
.footer-container .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-container .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-container .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
}

/* Footer Center */
.footer-container .footer-center {
  width: 35%;
}

.footer-container .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 15px 15px;
  vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-container .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-container .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-container .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */
.footer-container .footer-right {
  width: 30%;
}

.footer-container .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container .footer-icons {
  margin-top: 25px;
}

.footer-container .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-container .footer-icons a:hover {
  background-color: #717b93;
}

.footer-links a:hover {
  color: #717b93;
}

@media (max-width: 880px) {
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right {
    display: block;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
  }
  .footer-container .footer-center i,
  .footer-container .footer-icons a {
    margin: 0 auto; /* Centering the icons horizontally */
    display: block;
  }
  .footer-container .footer-center p {
    text-align: center; /* Centering the text */
  }
  .footer-container .footer-right a,
  .footer-container .footer-right i {
    display: inline;
    margin-right: 10px;
  }
}
@media (min-width: 1920px) {
  .footer-container .footer-left {
    margin-bottom: auto;
    margin: 2rem;
  }
}
.footer-container .footer-center p {
  text-align: center; /* Centering the text */
}

:root {
  --color-1: rgb(239, 238, 238);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  background-color: var(--color-1);
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 15px;
  margin: auto;
}

.header .logo a {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: rgb(230, 125, 45);
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: black;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #a27f7f;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  margin-right: 15px;
}

.nav-toggler span {
  display: block;
  height: 2px;
  background-color: var(--color-1);
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }
  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(210, 23, 23, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  .header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }
  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before,
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .header #nav-check:checked ~ .nav-toggler span::after {
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 991px) and (max-width: 750px) {
  .event-list {
    flex-direction: column;
    align-items: center;
  }
  li img {
    border-radius: 50%;
  }
  .figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.event-list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

li img {
  border-radius: 50%;
  margin: 20px 0 20px 0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffdf6 !important;
}

.smullbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .header-1 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
}
.header-3 {
  color: #d5a848;
}

.p-text {
  font-weight: 100;
  padding: 10px;
  margin: 20px;
}

.header-text {
  padding: 10px;
  margin: 40px;
}

.logo-color {
  background-color: rgb(239, 238, 238);
}

.span-color {
  color: #d5a848;
}

.smullbox-menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .smullbox-menu-content {
    flex-direction: column-reverse;
  }
  .smullbox-menu-content img {
    width: 100%;
    height: auto;
  }
}
.smullbox-menu-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px;
}

.smullbox-menu-content-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .smullbox-menu-content-2 {
    flex-direction: column-reverse;
  }
  .smullbox-menu-content-2 img {
    width: 100%;
    height: auto;
  }
}
.food-menus {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.food-menu-img {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .food-menu-img img {
    width: 90%;
  }
}
.tailormake-food {
  text-align: center;
  margin: 3rem 0;
}/*# sourceMappingURL=smullbox.css.map */