@import "../_design.scss";

* {
  padding: 0;
  margin: 0;
  font-family: tahoma, sans-serif;
  background-color: $color-background;
}

.smullbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .header-1 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
}
.header-3 {
  color: $color-gold;
}
.p-text {
  font-weight: 100;
  padding: 10px;
}
.header-text {
  padding: 10px;
}
