
/* Define custom color variable */
:root{
  --color-1:rgb(239, 238, 238)
  ;
}
a{
    text-decoration: none;
}
/* Remove default list styles */
ul{
    list-style: none;
}
.container{
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}
.header{
    background-color: var(--color-1);
    padding:12px 0;
    position: relative;
    max-height: 15%;
}
  /* Logo and navigation styles */
.header .logo,
.header .nav{
    padding:0 15px;  /* Add padding to logo and navigation */
    margin: auto;
}
  /* Logo link styles */
.header .logo a{
    font-family: 'Dancing Script', cursive; /* Apply custom font to the logo text */
    font-size: 25px; /* Set font size for the logo */
    color:rgb(230, 125, 45); /* Set text color for the logo */
    text-transform: capitalize; /* Capitalize the logo text */
}

  /* Navigation list item styles */
  .header .nav ul li {
    display: inline-block; /* Display list items inline */
    margin-left: 40px; /* Add left margin between list items */
  }

  /* Navigation link styles */
  .header .nav ul li a {
    display: block; /* Display links as block elements */
    font-size: 18px; /* Set font size for navigation links */
    padding: 10px 0; /* Add padding to navigation links */
    color: black; /* Set default text color for navigation links */
    text-transform: capitalize; /* Capitalize navigation link text */
    transition: all 0.5s ease; /* Add smooth transition effect to links */
  }


  /* Navigation link hover and active styles */
  .header .nav ul li a:hover,
  .header .nav ul li a.active {
    color: black; /* Change text color on hover and active states */
  }


  /* Checkbox input for mobile navigation */
  .header #nav-check {
    position: absolute; /* Position the checkbox */
    opacity: 0; /* Make checkbox invisible */
    pointer-events: none; /* Disable pointer events for the checkbox */
  }

  /* Mobile navigation toggler styles */
  .nav-toggler {
    height: 34px; /* Set height for the toggler button */
    width: 44px; /* Set width for the toggler button */
    background-color: #a27f7f; /* Set background color for the toggler button */
    
    border-radius: 4px; /* Add border-radius to create rounded corners */
    cursor: pointer; /* Set cursor to pointer for interaction */
    display: none; /* Hide toggler button by default */
    align-items: center; /* Center align items within the button */
    justify-content: center; /* Center align items within the button */
    margin-right: 15px; /* Add right margin to the toggler button */
  }

  /* Styles for the three lines inside the toggler button */
  .nav-toggler span {
    display: block; /* Display as block element */
    height: 2px; /* Set height for the lines */
    width: 20px; /* Set width for the lines */
    background-color: var(--color-1); /* Set background color using custom variable */
    position: relative; /* Set position to relative for absolute positioning of pseudo-elements */
    
  }

  /* Styles for the pseudo-elements to create the lines */
  .nav-toggler span::before,
  .nav-toggler span::after {
    content: ''; /* Add content to the pseudo-elements */
    position: absolute; /* Set position to absolute for precise placement */
    width: 100%; /* Set width for the pseudo-elements */
    height: 100%; /* Set height for the pseudo-elements */
    background-color: var(--color-1); /* Set background color using custom variable */
    left: 0; /* Position pseudo-elements at the left edge */
    
  }
.nav-toggler span::before{
    top: -6px;
}
.nav-toggler span::after{
    top: 6px;
}


  
  /* Positioning and animation styles for the lines in the toggler button on smaller screens */
  @media (max-width: 991px) {
    .nav-toggler {
      display: flex; /* Show toggler button on smaller screens */
      
      
    }
  
    
  
    /* Mobile navigation styles */
    .header .nav {
        position: absolute; /* Position the mobile navigation */
        left: 0;
        top: 100%; /* Position it below the header */
        width: 100%; /* Take full width of the screen */
        background-color: var(--color-1); /* Set background color using custom variable */
        border-top: 1px solid rgba(210, 23, 23, 0.2); /* Add top border with transparency */
        opacity: 0; /* Make the navigation initially invisible */
        visibility: hidden; /* Hide the navigation initially */
        transition: opacity 0.3s ease, visibility 0.3s ease; /* Add smooth transition effect */
    }

    
      
    /* Styles for list items in the mobile navigation */
    .header .nav ul li {
        display: block; /* Display list items as block elements */
        margin: 0; /* Remove margin for list items */
      }

  
    /* Show mobile navigation when the checkbox is checked */
    .header #nav-check:checked ~ .nav {
        opacity: 1; /* Make the navigation visible */
        visibility: visible; /* Make the navigation visible */
        
      }
    
  

        /* Styles for the toggler button when focused */
        .header #nav-check:focus ~ .nav-toggler {
            box-shadow: 0 0 15px #000000; /* Add shadow when focused */
            
          }
        
    .header #nav-check:checked ~ .nav-toggler span {
        background-color: transparent;
        
    }

    

    /* Styles for the lines inside the toggler button when checked */
    .header #nav-check:checked ~ .nav-toggler span::before,
    .header #nav-check:checked ~ .nav-toggler span::after {
      top: 0;
      transform: rotate(45deg); /* Rotate lines to create an X */
      transition: transform 0.3s ease; /* Add smooth transition effect */
      
    }
  
    /* Styles for the middle line of the X inside the toggler button */
    .header #nav-check:checked ~ .nav-toggler span::after {
      transform: rotate(-45deg); /* Rotate lines to create an X */
    }
  }
 /* Styling the area of the slides */
     
 #slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

/* Style each of the sides 
with a fixed width and height */

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

/* Add animation to the slides */

.slide-wrapper {
   
  /* Calculate the total width on the
basis of number of slides */
  width: calc(728px * 4);
   
  /* Specify the animation with the
duration and speed */
  animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */

.slide:nth-child(1) {
  background: green;
}

.slide:nth-child(2) {
  background: pink;
}

.slide:nth-child(3) {
  background: red;
}

.slide:nth-child(4) {
  background: yellow;
}

/* Define the animation 
for the slideshow */

@keyframes slide {
   
  /* Calculate the margin-left for 
each of the slides */
  20% {
      margin-left: 0px;
  }
  40% {
      margin-left: calc(-728px * 1);
  }
  60% {
      margin-left: calc(-728px * 2);
  }
  80% {
      margin-left: calc(-728px * 3);
  }
}









@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  line-height: 1.5;
  color: #838EA4;
}
.intro {
  max-width: 80%;
  margin: 3rem auto;
}
h1 {
  color: goldenrod;
  font-size: 3rem;
  line-height: 1.4;
  text-align: center; 
}
h2{
  line-height: 1.2; 
}
p {
  color: #0A2463;
  font-size: 1.5rem;
  margin: 1rem;
}
label{
  font-size: 1.3rem;
  font-weight:bold;
}
img {
  width: 100%;
  margin: 1rem auto;
}
address {
  font-size: 1rem;
  font-weight: bold;
}
e-mail {
  color: goldenrod;
}
button {
  font-size: 1.2rem;
  color: whitesmoke;
  background-color: goldenrod;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 15px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
button:hover {
  background-color: aliceblue;
  color: #0A2463;
}
.search-bar {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  vertical-align: middle;
  border-radius: 5px;  
}
.search-bar:hover {
  background-color: goldenrod;
  color:#0A2463;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, 300px);
  gap: 1rem;
}


.footer-copyright {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 4.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright p {
  font-size: .95rem;
  margin: 0;
}

.footer-copyright ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-copyright ul li {
  margin-left: 3rem;
}

.footer-copyright ul li a {
  text-decoration: none;
  color: #0A2463;
  font-size: .95rem;
  font-weight: 500;
}