h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

:root {
  --color-1: rgb(239, 238, 238);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.header {
  background-color: #f9f9f9;
  padding: 12px 0;
  position: relative;
}

.header .logo,
.header .nav {
  padding: 0 15px;
  margin: auto;
}

.header h3 {
  font: normal 2rem "Cookie", cursive;
  color: #ff9505;
}

.header .logo,
h3 span {
  color: #ff9505;
  font: normal 2rem "Cookie", cursive;
}

.header .logo a {
  font: normal 36px "Cookie", cursive;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: #ff9505;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 0;
  color: black;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active {
  color: black;
}

.header #nav-check {
  position: relative;
  opacity: 0;
  pointer-events: none;
}

/* Mobile navigation toggler styles*/
.nav-toggler {
  position: relative;
  height: 34px;
  width: 44px;
  background-color: #a27f7f;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the lines horizontally */
  margin-right: 15px;
  padding: auto;
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 60%; /* Adjust the width of the lines as needed */
  background-color: #f9f9f9;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: relative;
  height: 100%;
  width: inherit;
  background-color: #f9f9f9;
  left: 0;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  bottom: -6px;
}

@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
  }
  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid rgba(210, 23, 23, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }
  .header #nav-check:focus ~ .nav-toggler {
    box-shadow: 0 0 15px #000000;
  }
  .header #nav-check:checked ~ .nav-toggler span {
    background-color: transparent;
  }
  .header #nav-check:checked ~ .nav-toggler span::before,
  .header #nav-check:checked ~ .nav-toggler span::after {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  .header #nav-check:checked ~ .nav-toggler span::after {
    transform: rotate(-45deg);
  }
}
h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

footer {
  bottom: 0;
  width: 100%;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer-container {
  background-color: #2d2a30;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 50px 50px;
  margin-top: 80px;
  margin-bottom: auto;
  line-height: 42px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-container .footer-left {
  width: 30%;
}

.footer-container h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-container h3 span {
  color: #ff9505;
  font: normal 36px "Cookie", cursive;
}

/* Footer links */
.footer-container .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-container .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-container .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
}

/* Footer Center */
.footer-container .footer-center {
  width: 35%;
}

.footer-container .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 15px 15px;
  vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-container .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-container .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-container .footer-center p a {
  color: #ff9505;
  text-decoration: none;
}

/* Footer Right */
.footer-container .footer-right {
  width: 30%;
}

.footer-container .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-container .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-container .footer-icons {
  margin-top: 25px;
}

.footer-container .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-container .footer-icons a:hover {
  background-color: #717b93;
}

.footer-links a:hover {
  color: #717b93;
}

@media (max-width: 880px) {
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right {
    display: block;
    width: 100%;
    margin-bottom: auto;
    text-align: center;
  }
  .footer-container .footer-center i,
  .footer-container .footer-icons a {
    margin: 0 auto; /* Centering the icons horizontally */
    display: block;
  }
  /*the change I made set the icons horizontally*/
  .footer-container .footer-right a,
  .footer-container .footer-right i {
    display: inline;
    margin-right: 10px;
  }
}
.footer-container .footer-center p {
  text-align: center; /* Centering the text */
}

@media (min-width: 1920px) {
  .footer-container .footer-left {
    margin-bottom: auto;
    margin: 2rem;
  }
}
.footer-container .footer-center p {
  text-align: center;
} 
* {
  margin: 0;
  padding: 0;
  /* font-family: tahoma, sans-serif; */
}

.pre-title {
  margin-bottom: 0.9375rem;
  font-size: 2rem !important;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff9505 !important;
}

.page-title {
  font-size: 2rem;
  margin-top: 0;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #292929;
}

.form {
  margin-right: 0;
  background: #f2f2f2;
  box-shadow: 0px 0 20px 0px #d5d5d5;
  width: 360px;
  justify-self: center;
}

.contact-info {
  /* width: 100%; */
  background-color: #f8f8f8;
  /* height: 1000px; */
}

.section {
  padding: 30px 8px;
}

main {
  padding: 5rem;
}

.phone {
  font-size: 21px;
  font-size: 1.3125rem;
  margin: 0;
  font-weight: bold;
  color: #ff9505;
}

.form input, .event {
  /* font-size: 18px;
  font-size: 1.125rem; */
  width: 100%;
  text-indent: 10px;
  height: 40px;
  border: 1px solid #cdcdcd;
  padding: unset;
}

.form p {
  padding-bottom: 10px;
}

.form .textarea {
  /* font-size: 1.125rem; */
  width: 100%;
  height: 150px;
  text-indent: 10px;
  border: 1px solid #cdcdcd;
}

.form .button {
  background-color: #ff9505;
}

.grid-6 {
  text-align: center;
}

.cont-p {
  /* max-width: 380px; */
  margin: 0 auto 10px;
  text-align: center;
}

.pre-footer-heading {
  font-size: 1.56rem;
  text-transform: uppercase;
}

.news-area {
  display: flex;
}

.news .news-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 10px;
}

.news .single-news {
  border-bottom: 1px solid #dedcd9;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.archive {
  margin-left: 2.5641% !important;
  float: left;
}

.link-list {
  margin: 1rem 0;
  list-style: none;
}

.sidebar {
  line-height: 1.3;
  border-bottom: 1px solid #dedcd9;
}

.byline {
  margin-bottom: 1.75rem;
  padding: 10px;
  font-size: 15px;
  font-size: 0.9375rem;
  font-style: italic;
  color: #58595B;
  border-top: 1px solid #dedcd9;
  border-bottom: 1px solid #dedcd9;
}

@media only screen and (max-width: 400px) {
  .location, .form {
    width: 100%;
  }
  .grid-6 {
    width: 100%;
    margin-bottom: 20px;
  }
  .loc-address {
    display: none;
  }
  .news {
    width: 100%;
    padding: 0px 8px;
  }
  .archive {
    display: none;
  }
  .contact-info {
    width: 100%;
  }
  .form {
    padding: 20px 5px;
  }
  .page-heading {
    margin: 30px;
    text-align: center;
  }
}
@media only screen and (min-width: 401px) {
  .location, .form {
    /* width: 50%; */
  }
  .page-heading {
    margin: 50px;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .location {
    margin-left: 0;
    box-shadow: 0px 0 20px 0px #d5d5d5;
    position: relative;
  }
  .location .loc-address {
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
  }
  .location .loc-address :after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -20px;
    left: 104px;
    z-index: 2;
    border-style: solid;
    border-width: 20px 15px 0 15px;
    border-color: #cdcdcd transparent transparent transparent;
  }
  .form {
    padding: 30px 40px;
  }
  .contact-info {
    width: 100%;
  }
  .news {
    width: 70%;
    float: left;
  }
}
@media only screen and (min-width: 401px) and (max-width: 850px) {
  .archive {
    margin-left: 0.5% !important;
    width: 27% !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 2000px) {
  .news-img {
    height: 300px;
  }
}
@media only screen and (min-width: 2001px) {
  .news-img {
    height: 500px;
  }
}/*# sourceMappingURL=contact.css.map */